body {
	background-color: #f0f0f0;
	margin: 0;
	padding: 10px;
}
.container {
	background-color: white;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	padding: 20px;
	flex-direction: column;
}
img.logo {
		width: 100px;
		height: auto;
}
h1 {
	font-size: 3rem;
	text-align: center;
}	
img {
	display: block;
	width: 400px;
	max-width: 600px;
}
.footer {
	position: absolute;
	right: 20px;
	bottom: 0px;
}
div.left-card, div.right-card {
	margin: 20px auto;
	max-width: 300px;
}
div.item2 {
	margin-bottom: 20px;
}